<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <WebService.Properties.Settings>
      <setting name="WebService_WSCntNOppDetails_WSCntctNLnOpprtntyDetailService"
        serializeAs="String">
        <value>https://cs15.salesforce.com/services/Soap/class/WSCntctNLnOpprtntyDetail</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>enzigma.admin@vip.com.prod</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>2Y)h1L@O1XYu2PlHTXQhs5byRud1bhZ1Hhywn7vv1</value>
      </setting>
      <setting name="WebService_Partner_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/u/33.0</value>
      </setting>
      <setting name="ApiUrl" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/u/33.0</value>
      </setting>
      <setting name="WebService_WSUpdateSobject_WSUpdateSObjectsService"
        serializeAs="String">
        <value>https://na15.salesforce.com/services/Soap/class/WSUpdateSObjects</value>
      </setting>
    </WebService.Properties.Settings>
  </applicationSettings>
</configuration>